

<title> Search Results Page </title>

<body>
<h1 class="list">
{{#each users}}              <!-- for each post in the db print all of the below -->
<li>{{this.fullname}}</li>
<li>{{this.username}}</li>
<li> <a href='/users/{{this.username}}'> View profile</a></li>
{{/each}}
</h1>
</body>

<script type="text/javascript" src="../../toggle.js"></script>
<script type="text/javascript" src="../../javascripts/toggle.js"></script>
<script type="text/javascript" src="../../public/javascripts/toggle.js"></script>
</html>
